@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  --color-primary: #6171f8;
  --color-dark: hsl(234, 74%, 13%);
  --color-dark-disable: hsl(233, 21%, 61%);
  --color-light: hsl(234, 74%, 95%);
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-light);
}

.btn {
  padding: .5rem 1.5rem;
  border: none;
  border-radius: .25rem;
  transition: translate .2s ease-in-out;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.btn:hover {
  translate: 0 -2px
}

.btn:focus-visible {
  outline: none;
}

.btn-secondary {
  background-color: var(--color-light);
  color: var(--color-primary);
  outline: 2px solid var(--color-primary);
  outline-offset: -2px;
}

main {
  width: min(1200px, 100%);
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.main-bg {
  width: 100%;
  display: flex;
  padding-top: 2rem;
  min-height: calc(100vh - 72px);
  /* align-items: center; */
  justify-content: center;
}

.form-container {
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  width: min(470px, 100%);
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.form-container form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.form-field label {
  color: var(--color-dark-disable);
  font-size: .9rem;
}

.form-field :is(input[type="text"]) {
  padding: .5rem;
  border: none;
  border-radius: .25rem;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.form-field :is(input[type="text"]):focus-visible {
  outline: 2px solid var(--color-primary);
  background-color: var(--color-light);
}

@media (max-width:1200px) {
  main {
    padding: 1rem;
  }
}

@media (max-width:700px) {
  .branding-name {
    font-size: 1.8rem;
  }
}


.hidden-element {
  display: none !important;
}