.home-msg {
    font-size: 1.75rem;
    text-align: center;
    max-width: 600px;
}

.home-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.home-container .options-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home-container .btn {
    padding: .5rem 3rem;
    font-size: 1.5rem;
}